<div class="osc-container">
    <div class="image-container">
        <img class="osc-logo">
    </div>
    <div class="text-container">
        <b class="osc-name">
            Sociedad Civil X
        </b>
        <div class="category-container">
            <div class="category-component">
                <span class="category-text">Sports</span>
            </div>
            <div class="category-component">
                <span class="category-text">Entertainment</span>
            </div>
            <div class="category-component">
                <span class="category-text">Griffindor</span>
            </div>
            <div class="category-component">
                <span class="category-text">Ravenclaw</span>
            </div>
        </div>
        
        <span class="osc-description">
            Where it's covered in all the colored lights Where the runaways are runnin' the night Impossible comes true, intoxicatin' you Oh, this is the greatest show we light it up, we won't come down and the sun can't stop us now watchin' it come true, it's takin' over youOh, this is the greatest show
        </span>
    </div>
</div>