<div class="modal-container" #modalContainer (click)="onDivClick($event)"></div>
<div class="content">
    <div class="header-container">
        <div class="title-container">
            <span class="portal-title">PORTAL OSC</span>
            <span class="portal-description">Busca la Organizacion de la Sociedad Civil que te interese </span>
        </div>
        <div class="search-container">
            <span class="search-title">¿Qué OSC buscas?</span>
            <div class="search-box">
                <div class="search-text">
                </div>
                <div class="search-icon">
                    <i id="search-lens-icon" class="bi bi-search"></i>
                </div>
            </div>
            <div class="filters-container">
                <select class="filter-box" [(ngModel)]="selectedCountry" (ngModelChange)="onFilterChange()">
                    <option value="" selected>Estado</option>
                    <option *ngFor="let country of countries" [value]="country.estado">{{ country.estado }}</option>
                </select>

                <select class="filter-box" [(ngModel)]="selectedCategory" (ngModelChange)="onFilterChange()">
                    <option value="" selected>Categoria</option>
                    <option *ngFor="let category of categories" [value]="category.id">{{ category.nombre }}</option>
                </select>     
                  
                <select class="filter-box" [(ngModel)]="selectedYear" (ngModelChange)="onFilterChange()">
                    <option value="" selected>Fundacion</option>
                    <option *ngFor="let years of years" [value]="years.year">{{ years.year }}</option>
                </select>              
            </div>    
        </div>
    </div>
    <div class="osc-big-container" #oscBigContainer></div>
</div>