<div class="modal-container" *ngIf="isVisible">
    <div class="escape-container">
        <button (click)="closeModal()">X</button>
    </div>
    <div class="modal-header">
        <div class="header-container">
            <div class="image-container">
                <img [src]="imgSrc">
            </div>
            <div class="header-text-container">
                <span class="osc-name">{{name}}</span>
                <div class="category-container">
                    <div class="category-component">
                        <span class="category-text">{{category}}</span>
                    </div>
                </div>
                <span class="osc-desc osc-date">Fecha de fundación: {{date}}</span>
                <span class="osc-desc osc-place">Localizacion: {{place}}</span>
                <button class="contact-button" (click)="openContact()">
                    <span>CONTACTAR</span>
                </button>
            </div>
        </div>
    </div>
    <div class="modal-body">
        <div class="text-container">
            <span>{{desc}}</span>
        </div>
        <span class="proyects-title">Proyectos</span>
        <div class="proyect-big-container">
            @for (proyect of proyects; track proyect.id) {
                <div class="proyect-container">
                    <div class="proyect-right-side">
                        <div class="proyect-image-container">
                            <img class="proyect-logo" [src]="imgSrc">
                        </div>
                        <div class="proyect-place-container">
                            <img src="location.png">
                            <span class="proyect-place">{{proyect.ubicacion}}</span>
                        </div>
                    </div>
                    <div class="proyect-text-container">
                        <span class="proyect-name">{{proyect.nombre}}</span>
                        <span class="proyect-time">{{proyect.fecha_inicio}} - {{proyect.fecha_final}}</span>
                        <span class="proyect-desc">{{proyect.descripcion}}</span> 
                    </div>
                </div>
            }
        </div>
    </div>
</div>